# VSCode settings
.vscode/

# PyCharm project settings
.idea/

# Python virtual environments
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variable files
.env
.env.*

# OS and editor temporary files
.DS_Store
Thumbs.db
*.swp
*.swo

# Development directory
dev/